{% extends 'toptemplate.html' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<body id="login_container">
<script type="text/javascript">
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
                $.growl({ title: "{{ category }}", message: "{{ message }}" }); 
          {% endfor %}
        {% endif %}
      {% endwith %}
</script>
<!--eof Container-->
<div id="eof_container">
    {{register|safe}}
    <div id="login">
        <img src="images/logo_login.png" alt="login"/>
        <h1 id="restoretitle" style="display:none">{{hp_restoretitle}}</h1>
        <form action="#" method="post" name="form_login">
        <div class="input_box div100"> <span class="iconsweet">a</span><input placeholder="{{hp_login}}" name="login" type="text"></div>
            <input type="hidden" name="restore" value="" id="do_restore"/>
            <div class="input_box div100" id='password'> <span class="iconsweet">y</span><input placeholder="{{hp_password}}" name="password" type="password"></div>
            <div><input type="text" value="{{backurl}}" style="display: none;" name="back_url" ></div>
            <div class="div100"><input name="" type="submit" value="{{hp_enter}}" id="submit"></div>
            <div class="form_input div100"><a class="forgot_password" href="#" onclick="show_restore();return false;" id="forgot">{{hp_forgot}}</a> </div>
        </form>
        <div class="form_input div100" style="padding-top:10px;">{{version|safe}}</div>
        <script type="text/javascript">
function show_restore(){
    if ($('#do_restore').val()){
        $('#password').show();
        $('#restoretitle').hide()
        $('#do_restore').attr('value','');
        $('#submit').attr('value',"{{hp_enter}}");
        $('#forgot').text("{{hp_forgot}}");
    }
    else{
        $('#password').hide();
        $('#restoretitle').show()
        $('#do_restore').attr('value','restore');
        $('#submit').attr('value',"{{hp_next}}");
        $('#forgot').text("{{hp_back}}");
    }
};
</script>
    </div>

</div>
</body>

{% endblock %}