{% extends 'toptemplate.html' %}
{% block head %}{{custom_head|safe|default('')}}{% endblock %}
{% block title %}{{page.title|safe}}{% endblock %}
{% block body %}
<body>
<script type="text/javascript">
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
                $.growl({ title: "{{ category }}", message: "{{ message|safe }}" }); 
          {% endfor %}
        {% endif %}
      {% endwith %}
</script>

<!--Header-->
<header>
    <!--Logo-->
    <div class="one_four_wrap">
    <div id="logo" class="vtip" title="{{hp.version|safe}}"><a href="/"><img src="images/logo.png" alt="" /></a></div>
    </div>

    <div class="one_two_wrap">
    {{hp.header_hdd|safe}}
    </div>
     <div class="one_four_wrap">
     <div class="header_user" style="min-width:250px;">
       <ul class="fl_right">
                    <li><div class="form_input">
                    <select name="langue" onchange="document.location.href = '/documents_share?ln='+this.value+'&back_url='+encodeURIComponent(document.location.href)">
                        {{hp.lang_selector|safe}}
                    </select></div></li>
                </ul>
            <div class="fl_right" style="margin-right:10px;">   <span class="iconsweet">a</span> <a href="/administration" class="login">{{hp.admin_label}}</a></div>

    </div>
    </div>
    <div style="clear:both"></div>
</header>
<!--eof Container-->
<div id="eof_container">
    <!--Primary Navigation-->
    {{hp.menu|safe}}
    <!--Main Content-->
    <section id="main_content">
    <!--Secondary Navigation-->
    <nav id="secondary_nav">   
        <dl class="user_info">
            <dt><a href="#"><img src="/logo" style="width:78px; max-height:78px;"/></a></dt>
            <dd>
                <a class="welcome_user" href="#">{{hp.hp_hello}},<strong>{{user.name}}</strong></a>
                <a class="logout" href="/home_page?logoff">{{hp.admin_logout}}</a>
                <a class="user_messages show-notifications js-show-notifications" href="#">
                    <span class="notifications-count js-count hidden-count"></span>
                </a>
            </dd>
        </dl>
        
        <!--Responsive Nav-->
    <a class="res_icon" href="#"></a>
<!--Responsive Nav ends-->
{{hp.tree|safe}}
{{quick|safe}}
{{hp.custom|safe}}
    </nav>
    <!--Content Wrap-->
<div id="content_wrap">
<h1>{{page.hpt_title|safe}}</h1>
{{page.hpt_data|safe}}
</div>
    </section>
</div>
</body>
{% endblock %}