<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<title>{% block title %}{% endblock %}</title>
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
<!--Stylesheets-->
<!--Old css-->
<link rel="stylesheet" type="text/css" href="img/style.css">
<link rel="stylesheet" type="text/css" href="img/eof.css">
<!--end of old css-->
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/typography.css" />
<link rel="stylesheet" href="css/tipsy.css" />
<!--<link rel="stylesheet" href="js/cl_editor/jquery.cleditor.css" />-->
<!--<link rel="stylesheet" href="uploadify/uploadify.css" />-->
<!--<link rel="stylesheet" href="css/jquery.ui.all.css" />-->
<link rel="stylesheet" href="css/jquery-ui.min.css" />
<link rel="stylesheet" href="css/jquery-ui.theme.min.css" />
<link rel="stylesheet" href="css/fullcalendar.css" />
<link rel="stylesheet" href="css/bootstrap.css" />
<link rel="stylesheet" href="js/jq_tables/demo_table_jui.css" />
<link rel="stylesheet" href="js/fancybox/jquery.fancybox-1.3.4.css" />
<link rel="stylesheet" href="css/highlight.css" />
<link rel="stylesheet" href="css/tree/style.css" />
<link rel="stylesheet" href="css/jquery.timepicker.css">
<link href="css/jquery.growl.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
    <script src="js/html5.js"></script>
    <![endif]-->
<!--Javascript-->
<script type="text/javascript" src="js/jquery.min.js"> </script>
<script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"> </script>
<!--<script src="http://code.jquery.com/jquery-1.9.0.js"></script>-->
<!--<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>-->

<script type="text/javascript" src="js/excanvas.js"> </script>
<script type="text/javascript" src="js/jquery.flot.js"> </script>
<script type="text/javascript" src="js/jquery.flot.stack.js"> </script>
<script type="text/javascript" src="js/jquery.flot.pie.js"> </script>
<script type="text/javascript" src="js/jquery.quicksand.js"> </script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"> </script>
<script type="text/javascript" src="js/jquery.tipsy.js"> </script>
<script type="text/javascript" src="js/jquery.validate.min.js"></script>
<!--<script type="text/javascript" src="js/cl_editor/jquery.cleditor.min.js"> </script>-->
<!--<script type="text/javascript" src="uploadify/swfobject.js"></script>
<script type="text/javascript" src="uploadify/jquery.uploadify.min.js"></script>-->
<script type="text/javascript" src="js/jquery.autogrowtextarea.js"></script>
<script type="text/javascript" src="js/form_elements.js"></script>
<script type="text/javascript" src="js/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="js/jquery.timepicker.min.js"></script>

<!--<script type="text/javascript" src="js/jquery.ui.core.js"></script>

<script type="text/javascript" src="js/jquery.ui.mouse.js"></script>
<script type="text/javascript" src="js/jquery.ui.slider.js"></script>
<script type="text/javascript" src="js/jquery.ui.progressbar.js"></script>
<script type="text/javascript" src="js/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="js/jquery.ui.tabs.js"></script>
<script type="text/javascript" src="js/jquery.ui.autocomplete.js"></script>
<script type="text/javascript" src="js/jquery.ui.button.js"></script>
<script type="text/javascript" src="js/jquery.ui.position.js"></script>-->
<script type="text/javascript" src="js/fullcalendar.js"></script>
<script type="text/javascript" src="js/gcal.js"></script>
<script type="text/javascript" src="js/bootstrap-modal.js"></script>
<!--<script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="js/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>-->
<script type="text/javascript" src="js/highlight.js"></script>
<!--<script type="text/javascript" src="js/jq_tables/jquery.dataTables.js"></script>-->
<script type="text/javascript" src="js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="js/jquery.fileupload.js"></script>
<script type="text/javascript" src="htp.js"> </script>
<script type="text/javascript" src="img/tools.js"> </script>
<script type="text/javascript" src="js/main.js"> </script>

<script type="text/javascript" src="js/jquery.growl.js"></script>
<script type="text/javascript" src="js/jsTree.js"> </script>
<script type="text/javascript" src="js/mustache.min.js"> </script>
<script type="text/javascript" src="js/notif.js"> </script>
<!--Old JS-->
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<!--end of old js-->

{% block head %}{% endblock %}
</head>

{% block body %}{% endblock %}
